{% set banaction = fail2ban_banaction or ('ufw' if configure_ufw | bool else '') %}
[sshd]
enabled = true
port = {{ fail2ban_sshd_port }}
backend = systemd
maxretry = {{ fail2ban_sshd_maxretry }}
findtime = {{ fail2ban_sshd_findtime }}
bantime = {{ fail2ban_sshd_bantime }}
ignoreip = {{ fail2ban_ignoreip }}
{% if banaction %}
banaction = {{ banaction }}
{% endif %}
